body{
background-color:white;

}
.notifications{
    width: 100%;
    background-color: #029f5b;

    color: #ffffff;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
.banner_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img{
'margin-left:2px;

border: 2px solid #000080;
}
#top{

margin-top:2px;
width:900px;
margin-left:200px;
height:140px;
background-color:#003399;
}
#first{

margin-top:0px;
border: 1px solid #000080;
margin-left:180px;

background-color:#82CAFA;
width:700px;

}
#second{


margin-left:20px;
}
#one{

margin-top:20px;

}
#two{
margin-top:30px;
margin-left:50px;
margin-right:50px;
border: 1px solid #000080;

}
#three{}
#four{
margin-top:30px;
margin-left:50px;
margin-right:50px;
border: 1px solid #000080;
}
#five{
margin-top:30px;
margin-left:50px;
margin-right:50px;
border: 1px solid #000080;
margin-bottom:0px;
}
